.wrapper {
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;

    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    margin-top: 50px;
}

.formTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.row {
    width: auto;
    
    padding-left: 5%;
    padding-right: 5%;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formItem {
    width: 50%;
    margin: 1%;
}

.input {
    width: 100%;
    padding: 7px 15px;
    border-radius: 10px;

    border-style: none;
}

.textarea {
    width: 98%;
    height: 200px;
    padding: 3px;
    border: none;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;

    padding: 7px 7px;

}

.formButton {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #ffffff;

    color: white;
    font-weight: bold;

    width: 150px;

    padding: 7px 15px;
    margin-left: 1%;
    margin-top: 15px;

    cursor: pointer;

    transition: 0.3s;
}

.formButton:hover {
    background-color: #ffffff;
    color: #e5ddd2;
}
